.camperSection {
  padding-top: 48px;
}

.wrapperItem {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title,
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.camperGallery {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.camperGalleryItem {
  border-radius: 10px;
  width: calc((100% - 2 * 24px) / 3);
  height: 312px;
  box-shadow: 2px 4px 6px var(--gray-light);
}

.camperGalleryImg {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  color: var(--text);
  margin-top: 28px;
}
