.header {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  padding: 24px 64px;
  display: flex;
  align-items: center;
  gap: 450px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLink {
  display: block;
  color: var(--text-color-main);
  font-weight: 500;
}

.isActive {
  color: var(--button-hover);
}
