.wrapperContent {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.img {
  display: block;
  width: 292px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.wrapperItemContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.wrapperItem {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

.item,
.itemLocation {
  display: flex;
  align-items: center;
  gap: 4px;
}

.itemLocation {
  gap: 8px;
  transition: text-shadow var(--animation), font-weight var(--animation);
}

.activeLocation {
  font-weight: 600;
}

.btn {
  width: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 16px;
  border-radius: 200px;
  background: var(--button);
  color: var(--background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  transition: background-color var(--animation);
}

.btn:hover {
  background-color: var(--button-hover);
}

.title,
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.description {
  display: -webkit-box;
  width: 525px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--text);
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.btnHeart {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.active {
  color: var(--button);
}

.icon {
  fill: currentColor;
}
